certifi==2023.5.7 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
diffusers==0.17.1 ; python_version >= "3.11" and python_version < "4.0"
fsspec==2023.6.0 ; python_version >= "3.11" and python_version < "4.0"
huggingface-hub==0.15.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.4 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==6.7.0 ; python_version >= "3.11" and python_version < "4.0"
numpy==1.25.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.11" and python_version < "4.0"
regex==2023.6.3 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
safetensors==0.3.1 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.65.0 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.0.3 ; python_version >= "3.11" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.11" and python_version < "4.0"